//mixins
@mixin centerFlex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  @mixin createButton($width, $height, $radius, $gradientFirst, $gradientThird, $shadowColor)
  {
    width: $width;
    height: $height;
    border-radius: $radius;
    background-image: linear-gradient( 135deg, $gradientFirst 0%, $gradientThird 100%);
    box-shadow: 0 20px 30px -6px $shadowColor;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: white;
  }

// main page
body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin: 0;
    padding:0;
}
.wrapper {
    @include centerFlex;
    max-width: 80%;
    margin: 0 auto;
}
.container{
    @include centerFlex;
    height: 30vh;
    width: 100%;

/* Buttons */
    .button{
      transition: all .3s ease-in-out;
      &:nth-child(1){
        @include createButton(150px, 60px, 50px,#ABDCFF,#0396FF, rgba(30,161,255,0.5));
      }
      &:nth-child(2){
        @include createButton(150px, 60px, 50px,#ABDCFF,#0396FF, rgba(30,161,255,0.5));
      }
      &:nth-child(3){
        @include createButton(150px, 60px, 50px,#ABDCFF,#0396FF, rgba(30,161,255,0.5));
      }
      &:hover{
        transform:translatey(10px);
        box-shadow: none;
      }
      &:active{
        opacity: 0.5;
      }
    }
  
  }

#output {
    width: 100%;
    text-align: center;
}  